.form {
    border-radius: 20px;
    background-color: #FFF;
    padding: 30px 20px;
    &._error &__no-send{
        display: inline-flex;
    }
    &._error &__item{
        border-bottom: 2px solid rgba(255, 0, 0, 0.29);
    }
    &._sended &__send{
        display: inline-flex;
    }
    @media(min-width:460px) {
        padding: 35px;
    }

    @media(min-width:768px) {
        max-width: 470px;
    }
    @media(min-width:1290px) {
        padding: 50px 40px;
    }

    &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $clrSecondary;
        margin-bottom: 20px;
    }
  
    &__item-textarea {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-family: $Nunito;
        font-size: 16px;
        font-weight: 700;
    }

    &__input {
        padding: 10px 5px;
        font-family: $Nunito;
        font-size: 16px;
        flex: 1 1 100%;

    }

    &__textarea {
        font-family: $Nunito;
        font-size: 16px;
        min-height: 80px;
        margin-top: 10px;
        border-bottom: 1px solid $clrSecondary;
        margin-bottom: 20px;
    }

    &__policy {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 25px;
    }

    &__policy-link {
        color: $clrSecondary;
    }

    &__btn {
        width: 100%;
        margin-bottom: 10px;
    }
    &__send{
        background-color: $clrPrimary;
        display: none;
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        color: white;
    }
    &__no-send{
        background-color: rgba(255, 0, 0, 0.29);
        display: none;
        padding: 10px 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        color: white;
    }
}