.hero {
    margin-bottom: 100px;
    cursor: pointer;
    @media(min-width:769px){
        margin-bottom: 200px;
    }
    &__body {
        position: relative;
        border-radius: 35px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-position: 50% 50%;
        min-height: calc(100vh - 133px);
        @media(min-width:768px) {
           
        }

    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: relative;
        z-index: 1;
        padding: 0 10px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(min-width:768px) {
            padding: 0 20px 0 86px;
        }
    }

    &__title {
        max-width: calc($index * 22);
        color: #FFF;
        font-family: $Nunito;
        font-size: calc($index * 2.31);
        font-weight: 700;
        line-height: calc($index * 2.8);
        margin-bottom: 16px;
    }

    &__txt {
        color: #FFF;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        max-width: 320px;

        @media(min-width:768px) {
            font-size: 20px;
            line-height: 36px;
            max-width: 460px;
        }

        @media(min-width:1290px) {
            max-width: 670px;
        }
    }
}