@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: black;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Light.woff2") format("woff2"), url("../fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-SemiBold.woff2") format("woff2"), url("../fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Light.woff2") format("woff2"), url("../fonts/Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Medium.woff2") format("woff2"), url("../fonts/Nunito-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: Jost;
  font-size: 18px;
}
body.menu__is-open {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 460px;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 1290px) {
  .container {
    max-width: 1260px;
  }
}

.logo {
  max-width: 60px;
}
@media (min-width: 768px) {
  .logo {
    max-width: 80px;
  }
}
@media (min-width: 1290px) {
  .logo {
    max-width: 102px;
  }
}
.logo img {
  width: 100%;
  height: 100%;
}

.btn {
  color: white;
  font-size: 17px;
  font-weight: 700;
  border-radius: 10px;
  background: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
  padding: 14px 32px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (any-hover: hover) {
  .btn:hover {
    -webkit-box-shadow: 0 5px 2px teal;
            box-shadow: 0 5px 2px teal;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
}
.header {
  background-color: white;
}
.header__container {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__container.is-scrolled {
  position: fixed;
  z-index: 26;
  background-color: white;
  width: 100%;
  max-width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.33);
}
.header__container.is-scrolled .header__body {
  max-width: 460px;
  margin: 0 auto;
  padding: 20px 15px;
}
@media (min-width: 768px) {
  .header__container.is-scrolled .header__body {
    max-width: 730px;
  }
}
@media (min-width: 1440px) {
  .header__container.is-scrolled .header__body {
    max-width: 1260px;
  }
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.header__logo {
  position: relative;
  z-index: 36;
}
.header__idea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 36;
}
.header__idea-img {
  max-width: 40px;
}
@media (min-width: 1290px) {
  .header__idea-img {
    max-width: 67px;
  }
}
.header__idea-txt {
  margin-left: 7px;
  font-size: 15px;
  max-width: 90px;
  font-style: italic;
}
@media (min-width: 768px) {
  .header__idea-txt {
    max-width: 100%;
  }
}
@media (min-width: 1290px) {
  .header__idea-txt {
    font-size: 20px;
  }
}
.header__btn {
  display: none;
}
@media (min-width: 1290px) {
  .header__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.services {
  height: 1000px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu.menu__is-open .menu__icon span {
  -webkit-transform: scale(0) translate(0, 0);
          transform: scale(0) translate(0, 0);
}
.menu.menu__is-open .menu__icon::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}
.menu.menu__is-open .menu__icon::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}
.menu.menu__is-open .menu__list {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.menu.menu__is-open .menu__list li a {
  opacity: 1;
}
.menu__icon {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 36;
}
@media (min-width: 768px) {
  .menu__icon {
    display: none;
  }
}
.menu__icon::before, .menu__icon::after {
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #454545;
}
.menu__icon span {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #454545;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.menu__icon::after {
  bottom: 0;
}
.menu__icon::before {
  top: 0;
}
.menu__list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 35;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .menu__list {
    background-color: transparent;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    padding-top: 0;
  }
}
.menu__list-item {
  position: relative;
}
@media (min-width: 768px) {
  .menu__list-item:hover::after {
    opacity: 1;
  }
}
.menu__list-item:hover .menu__sub-list {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.menu__list-item::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  border-radius: 4px;
  background: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
  opacity: 0;
}
.menu__list-dropdown::before {
  content: "";
  position: absolute;
  right: -18px;
  top: 17px;
  background-image: url("../img/bg/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 7px;
}
.menu__list-item + .menu__list-item {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .menu__list-item + .menu__list-item {
    margin-left: 20px;
    margin-top: 0;
  }
}
@media (min-width: 1290px) {
  .menu__list-item + .menu__list-item {
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .menu__list-item .menu__sub-list {
    position: absolute;
    left: 0;
    top: 35px;
    background-color: white;
    z-index: 4;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    padding: 30px;
    width: 320px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.217);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.217);
    border-radius: 5px 5px 20px 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
}
.menu__sub-item {
  position: relative;
}
.menu__sub-item:hover::after {
  opacity: 1;
}
.menu__sub-item::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  border-radius: 4px;
  background: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
  opacity: 0;
}
.menu__list-link {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
}
.menu__sub-link {
  font-size: 18px;
  font-weight: 300;
}
.menu__sub-item + .menu__sub-item {
  margin-top: 20px;
}

.hero {
  margin-bottom: 100px;
  cursor: pointer;
}
@media (min-width: 769px) {
  .hero {
    margin-bottom: 150px;
  }
}
.hero__body {
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 133px);
}
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  position: relative;
  z-index: 1;
  padding: 0 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .hero__content {
    padding: 0 20px 0 86px;
  }
}
.hero__title {
  max-width: calc((1vw + 1vh) * 22);
  color: #FFF;
  font-family: Nunito;
  font-size: calc((1vw + 1vh) * 2.31);
  font-weight: 700;
  line-height: calc((1vw + 1vh) * 2.8);
  margin-bottom: 16px;
}
.hero__txt {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .hero__txt {
    font-size: 20px;
    line-height: 36px;
    max-width: 460px;
  }
}
@media (min-width: 1290px) {
  .hero__txt {
    max-width: 670px;
  }
}