.menu {
    display: flex;
    align-items: center;

    &.menu__is-open &__icon span {
        transform: scale(0) translate(0, 0);
    }

    &.menu__is-open &__icon::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    &.menu__is-open &__icon::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    &.menu__is-open &__list {
        transform: scaleY(1);
    }

    &.menu__is-open &__list li a {
        opacity: 1;
    }

    &__icon {
        width: 30px;
        height: 20px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        z-index: 36;

        @media(min-width:768px) {
            display: none;
        }

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 10%;
            position: absolute;
            left: 0;
            transition: all .3s ease;
            background-color: $clrBasic;
        }

        & span {
            width: 100%;
            height: 10%;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: $clrBasic;
            transform: translate(0, -50%);
        }

        &::after {
            bottom: 0;

        }

        &::before {
            top: 0;

        }
    }

    &__list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 35;
        padding-top: 90px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: all .3s ease;
        @media(min-width:768px) {
            background-color: transparent;
            position: static;
            flex-direction: row;
            transform: scaleY(1);
            padding-top: 0;
        }
    }
    &__list-item{
        position: relative;
        text-align: center;
        @media(min-width:768px){
            text-align: left;
        }
    } 
    &__list-item:hover::after{
        @media(min-width:768px){
            opacity: 1;
        }
    } 
    &__list-item:hover &__sub-list{
       transform: scaleY(1);
    } 
    &__list-item::after{
        transition: all .3s;
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        border-radius: 4px;
        background: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
        opacity: 0;
    } 
    &__list-dropdown::before{
        content: '';
        position: absolute;
        right: -18px;
        top: 17px;
        background-image: url('../img/bg/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 14px;
        height: 7px;
        display: none;
        @media(min-width:768px){
            display: block;
        }
    }
    &__list-item + &__list-item{
        margin-top: 15px;
        @media(min-width:768px){
            margin-left: 20px;
            margin-top: 0;
        }
        @media(min-width:1290px){
            margin-left: 30px;
        }
    }
    &__list-item &__sub-list{
        @media(min-width:768px){
            position: absolute;
            left: 0;
            top: 35px;
            background-color: white;
            z-index: 4;
            transform: scaleY(0);
            padding: 30px;
            width: 450px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.217);
            border-radius: 5px 5px 20px 5px;
            transition: all .3s ease;
            transform-origin: 0 0;
        }

    }

    &__sub-item{
        position: relative;
    }
  &__sub-item:hover::after{
    opacity: 1;
  }
    &__sub-item::after{
        transition: all .3s;
        content: '';
        width: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        border-radius: 4px;
        background: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
        opacity: 0;
    } 
    &__list-link{
        padding: 10px 0;
        font-size: 20px;
        font-weight: 500;
    }
    &__sub-link{
        text-align: center;
        @media(min-width:768px){
            text-align: left;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
        }
    
    }
    &__sub-item + &__sub-item{
        margin-top: 20px;
    }
}