.menu {
    display: flex;
    align-items: center;

    &.menu__is-open &__icon span {
        transform: scale(0) translate(0, 0);
    }

    &.menu__is-open &__icon::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    &.menu__is-open &__icon::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    &.menu__is-open &__list {
        transform: scaleY(1);
    }

    &.menu__is-open &__list li a {
        opacity: 1;
    }

    &__icon {
        width: 30px;
        height: 20px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        z-index: 36;

        @media(min-width:768px) {
            display: none;
        }

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 10%;
            position: absolute;
            left: 0;
            transition: all .3s ease;
            background-color: $clrBasic;
        }

        & span {
            width: 100%;
            height: 10%;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: $clrBasic;
            transform: translate(0, -50%);
        }

        &::after {
            bottom: 0;

        }

        &::before {
            top: 0;

        }
    }

    &__list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 35;
        padding-top: 90px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: all .3s ease;

        @media(min-width:768px) {
            background-color: transparent;
            position: static;
            flex-direction: row;
            transform: scaleY(1);
            padding-top: 0;
        }
    }

    &__sub-list li+li {
        margin-top: 20px;
    }

    &__sub-list li a {
        font-weight: 300;
    }

    &__sub-list {
        display: none;

        @media(min-width:768px) {
            position: absolute;
            background-color: white;
            padding: 25px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.162);
            border-radius: 4px 4px 20px 4px;
            top: 25px;
            left: 0;

        }
    }

    &__list>li:hover &__sub-list {
        display: block;

        @media(min-width:768px) {}
    }

    &__list>li>a {
        padding: 10px 0;

        @media(min-width:768px) {
            padding: 0;
        }
    }

    &__list>li+li {
        margin-top: 20px;

        @media(min-width:768px) {
            margin-left: 20px;
            margin-top: 0;
        }

        @media(min-width:1290px) {
            margin-left: 30px;
            margin-top: 0;
        }
    }

    &__list>li>a {
        font-weight: 500;
        font-size: 20px;
        opacity: 0;
        transition: all .1s;

        @media(min-width:768px) {
            opacity: 1;
        }
    }
    &__list-dropdown > a{
        position: relative;
        padding-right: 30px;
        margin-right: 15px;
    }
    &__list-dropdown > a::before{
        content: '';
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translate(0, -50%);
        width: 15px;
        height: 10px;
        background-image: url('../img/bg/arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__list li a {
        display: flex;
        align-items: center;
        justify-content: center;

        @media(min-width:768px) {
            justify-content: flex-start;
        }
    }
}